  html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
  }

  .half-container { 
    width: 45%; 
    display: inline-table;
  }

  .pad-left { 
    padding-left: 25px;
  }

  .font-light { 
    font-weight: lighter;
  } 

  .header { 
    width: 100%;
  } 

  .container {
    padding-left: 10%; 
    padding-right: 10%;

    padding-bottom: 20%;
  }

  .is-center { 
    text-align: center;
  }

  .align-right { 
    float: right;
  }

  .main-content { 
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .header { 
    position: fixed;
    left: 0;
    top: 0; 
    width: 100%;
  }

  .footer { 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 15px;  
    text-align: center;
  }

  .vaccine-description { 
      max-height: 500px;
  }

  .row { 
      width: 100%;
  }